name: Release and Docs
on:
  push:
    tags:
      - 'v*' # v1.0.2 같은 태그가 푸시될 때 실행

jobs:
  deploy:
    # ===========================================
    # [1] General Ubuntu 환경에서 실행
    # ===========================================
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # 태그 기반 버전을 위해 필수!

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --group dev

      - name: Package Build
        run: uv build

      # - name: Publish Package
      #   # Secrets에 REPO_URL, REPO_USERNAME, REPO_PASSWORD를 등록.
      #   env:
      #     UV_PUBLISH_URL: ${{ secrets.REPO_URL }}
      #     UV_PUBLISH_USERNAME: ${{ secrets.REPO_USERNAME }}
      #     UV_PUBLISH_PASSWORD: ${{ secrets.REPO_PASSWORD }}
      #   run: uv publish

      - name: Deploy Docs
        run: uv run mkdocs gh-deploy --force
        # run: |
        #   git config --global user.name "github-actions[bot]"
        #   git config --global user.email "github-actions[bot]@users.noreply.github.com"
        #   uv run mkdocs gh-deploy --force

    # ===========================================
    # [2] Self-hosted 환경에서 실행 (Windows)
    # ===========================================
    # runs-on: [self-hosted, windows]

    # steps:
    #   - name: Checkout code
    #     uses: actions/checkout@v4
    #     with:
    #       fetch-depth: 0  # 태그 기반 버전을 위해 필수!

    #   - name: Install uv
    #     uses: astral-sh/setup-uv@v5

    #   - name: Install dependencies
    #     run: uv sync --group dev

    #   - name: Package Build
    #     run: uv build

    #   # - name: Publish Package
    #   #   # Secrets에 REPO_URL, REPO_USERNAME, REPO_PASSWORD를 등록.
    #   #   shell: pwsh
    #   #   env:
    #   #     UV_PUBLISH_URL: ${{ secrets.REPO_URL }}
    #   #     UV_PUBLISH_USERNAME: ${{ secrets.REPO_USERNAME }}
    #   #     UV_PUBLISH_PASSWORD: ${{ secrets.REPO_PASSWORD }}
    #   #   run: uv publish

    #   - name: Deploy Docs
    #     shell: pwsh
    #     run: uv run mkdocs gh-deploy --force
    #     # run: |
    #     #   git config --global user.name "github-actions[bot]"
    #     #   git config --global user.email "github-actions[bot]@users.noreply.github.com"
    #     #   uv run mkdocs gh-deploy --force